
.cardm {
  margin-top: 3em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 46.64%;
  left: 50%;
}

.card {
  position: absolute;
  width: 250px;
  height: 130px;
  border-radius: 25px;
  background: #b8d6fd;
  color: #000;
  z-index: 2;
  transition: .4s ease-in-out;
}

/* .weather {
  position: relative;
  margin: 1em;
} */

.main {
  font-size: 2em;
  position: relative;
  top: -3em;
  left: 4.3em;
  width: fit-content;
}

.mainsub {
  position: relative;
  top: -10.2em;
  left: 14em;
  font-size: 0.6em;
  width: fit-content;
}

.card2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 130px;
  border-radius: 35px;
  background: whitesmoke;
  z-index: -1;
  transition: .4s ease-in-out;
}

.card:hover {
  background-color: #FFE87C;
  cursor: pointer;
}

.card:hover + .card2 {
  height: 300px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card:hover + .card2 .lower {
  top: 20.2em;
}

.upper {
  display: flex;
  flex-direction: row;
  position: absolute;
  color: black;
  left: 1.8em;
  top: 0.5em;
  gap: 4em;
  
}

.humiditytext {
  position: relative;
  left: 3.6em;
  top: 2.7em;
  font-size: 0.6em;
}

.airtext {
  position: relative;
  left: 3.8em;
  top: 2.7em;
  font-size: 0.6em;
}

.lower {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-align: center;
  color: #000;
  left: 3em;
  top: 1em;
  margin-top: 0.7em;
  font-size: 0.7em;
  transition: .4s ease-in-out;
}

.aqi {
  margin-right: 3.25em;
}

.realfeel {
  margin-right: 1.8em;
}

.card3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 30px;
  top: 4.7em;
  left: -2.4em;
  font-size: 1.24em;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background: whitesmoke;
  transition: .4s ease-in-out;
}

@media screen and (min-width: 750px){
.cardm{
  margin-top: 7em;
}
  .card{
    width: 100%;
    width: 500px;
    height: 260px;
  }
  .main {
    font-size: 5.4em;
    position: relative;
    top: -2.5em;
    left: 2.3em;
    width: fit-content;
  }
  .mainsub {
    position: relative;
    top: -11.2em;
    left: 10em;
    font-size: 1.4em;
    width: fit-content;
    margin-top: 1.5em;
  }
  .card2{
    width: 480px;
    height: 260px;
  }
  .card3{
    width: 480px;
    height: 110px;
    z-index: -1;
  }
  .card:hover + .card2 {
    height: 600px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .card:hover + .card2 .lower {
    top: 40.4em;
  }
  .weather {
    position: relative;
    margin: 1em;
  }
  .humiditytext {
    position: relative;
    left: 1.6em;
    top: 1.7em;
    font-size: 1.6em;
  }
  .airtext{
    position: relative;
    top: 1.6em;
    font-size: 1.6em;
    
  }
  .airsvg{
    margin-left: 50px;
  }
  .aqi {
    font-size: 2.4em;
    z-index: 1;
  }
  .realfeel {
    margin-right: 1.8em;
    font-size: 2.5em;
    z-index: 1;
  }
  .pressuretext{
    font-size: 2.5em;
    z-index: 1;
    
  }
}

@media (prefers-color-scheme: dark){
  
  .card {
    background: #4c9beb;
  }

  .card2{
    background: #212121;
  }

  .card:hover {
  background-color: #747bb4;
  }

  .lower, .upper{
    color: #efefef
  }
  .card3{
    background: #212121 ;
  }
}