h1{
  text-align: center;
}

 section{
    display: flex;
    flex-direction:column;
 }

 .select-section{
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-grow: 1;
 }

@media screen and (min-width:750px){
.select-section{ 
  flex-direction: row;}
  section{
    
  flex-direction: row;
  align-items: center;
  gap: 1em;
  }
}